<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Source code version</h4>
        </div>
    </div>
    <div class="row">
        Version {{major}}.{{minor}}.{{patch}}
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-control (major)="handleMajorVersionInc()" (minor)="handleMinorVersionInc()" (patch)="handlePatchVersionInc()"></app-control>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <h4>Change log:</h4>
            <app-changelog [changelog]="changeLog"></app-changelog>
        </div>
    </div>
</div>